<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create~post</title>
    <link rel="stylesheet" href="/create.css" />
    <link rel="stylesheet" href="/index.css" />
    <style>
      .sidebar {
        position: relative;
        left: -400px;
      }
      .more-div {
        position: relative;
        top: 800px;
        left: -30px;
      }
    </style>
  </head>
  <body>
    <div class="sidebar">
      <div class="ab">
        <div class="ab1">
          <div class="ab12">
            <div class="ab121">
              <a href="">Instagram</a>
            </div>
          </div>
          <div class="ab13">
            <div class="ab131">
              <a href=""
                ><img
                  class="nav-icon1"
                  src="/assets/icons8-home-50.png"
                  alt="home"
                />
                <div class="home">Home</div></a
              >
            </div>

            <div class="ab133 ab130">
              <a href="/posts/explore/<%=user._id %>"
                ><img
                  class="nav-icon3"
                  src="/assets/explore-icon.png"
                  alt="home"
                />
                <div class="home explore">Explore</div></a
              >
            </div>

            <div class="ab137 ab130">
              <form action="/posts/<%= user._id%>/new" method="get">
                <a href="/posts/<%= user._id%>/new"
                  ><img
                    class="nav-icon7"
                    src="/assets/create-icon.png"
                    alt="home"
                  />
                  <div class="home create">Create</div></a
                >
              </form>
            </div>
            <div class="ab138 ab130">
              <form method="get" action="posts/profile/<%= user._id %>">
                <a href="posts/profile/<%= user._id %>">
                  <img class="nav-icon8 pfp" src="<%=user.pfp %>" alt="" />
                  <div class="home">Profile</div>
                </a>
              </form>
            </div>
          </div>

          <div class="ab130 more-div">
            <a href="/"
              ><img
                class="nav-icon10"
                src="/assets/icons8-more-50.png"
                alt="home"
              />
              <div class="logOut"></div>

              <div class="home more">Log Out</div></a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="form-container">
      <form action="/posts/profile" method="post" class="form">
        <input type="hidden" id="imageFilename" name="imageFilename" />

        <h2>Add the image</h2>
        <i class="fa-solid fa-image"></i>

        <input type="hidden" name="id" value="<%=id%>" />

        <!-- <input
          type="file"
          name="image"
          id="imageInput"
          accept="image/*"
          class="image"
        /> -->
        <!-- <input
          type="file"
          name="image"
          accept="image/*"
          onchange="loadFile(event)"
        /> -->
        <input type="text" name="image" onchange="loadFile(event)" id="image" />
        <img id="output" />
        <br />
        <br />
        <br />
        <textarea
          class="caption"
          name="caption"
          id="captionInput"
          placeholder="Enter your caption"
        ></textarea>
        <input
          type="text"
          name="location"
          id="location"
          placeholder="enter the location"
        />
        <button type="submit" class="submit">share</button>
      </form>
    </div>

    <!-- <script src="/public/app.js"></script> -->
  </body>
  <script>
    const loadFile = function (event) {
      var input = document.getElementById("image");
      var output = document.getElementById("output");
      output.src = input.value;
    };

    document
      .querySelector(".form")
      .addEventListener("submit", function (event) {
        event.preventDefault();
        fetch("/getUploadedImageUrl", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            filename: document.getElementById("image").value,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
          })
          .catch((error) => console.error(error));

        this.submit();
      });
  </script>
</html>
